!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= name
      |&nbsp;by&nbsp;桑格設計書店
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    script(src='./js/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='./css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='./css/main.css')
    script(src='./js/bootstrap.min.js')
    script(src='./js/holder.js')
    //- script
      // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      // ga('create', 'UA-46465712-2', 'yutin1987.github.io');
      // ga('send', 'pageview');
  body
    .container.sungood
      .row
        .col-sm-12
          h2= name
      .row
        .col-sm-6
          img.img-thumbnail.img-responsive(src='cover/'+isbn+'.jpg', alt=name)
          h3 書本簡介
          if about
            each val, name in about
              p: a(href=val,target="_blank")= name
          p
            | Null
        .col-sm-6
          img.img-thumbnail.img-responsive(src='author/'+isbn+'.jpg', alt=author)
          h3 作者介紹
          p
            = author
          if social
            each val, name in social
              p: a(href=val,target="_blank")= name
          p
            | Null
      hr
      .row
        .col-sm-8
          span 推薦值：
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
        .col-sm-4
          span 熱門度：
          span.glyphicon.glyphicon-heart
          span.glyphicon.glyphicon-heart
          span.glyphicon.glyphicon-heart
          span.glyphicon.glyphicon-heart-empty
          span.glyphicon.glyphicon-heart-empty
      .row
        .col-sm-12
          h3 更多參考資料
          if slide
            each val, name in slide
              p: a(href=val,target="_blank")= name
          p
            a.btn.btn-success.btn-main(href='http://www.facebook.com/sharer/sharer.php?u=http://yutin1987.github.io/sungood_book_value/'+isbn+'.html', role='button') Share This Book
